body {
	background: #fff;
	font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1.4;
	margin: 0;
}

em {
	color: #999;
}

p {
	line-height: 1.6;
	font-size: 90%;
	margin-top: .3em;
}

a {
	color: #2C85B1;
	text-decoration: none;
	font-weight: 400;
}

ul {
	margin-bottom: 0;
}

section {
	margin: 1em 0 1em;
	border-bottom: 1px solid #F2EBEC;
}

blockquote {
	margin: 0;
	margin-bottom: 1em;
}

#resume {
	margin: 1em;
	max-width: 760px;
}

/* Resume heading */
.heading header h1 {
	font-size: 180%;
	font-weight: 600;
	margin: 0;
}

.heading header h2 {
	font-size: 140%;
	margin: 0;
	font-weight: 400;
}

.heading header .contact .detail {
	margin: 0 1em 0 0;
}

.profile {
	display: inline-block;
	margin: 0 1em 0 0;
}

.profile strong,
.profile span {
	display: inline-block;
	margin: 0 1em 0 0;
}

/* section / line breaks */
section h2 {
	font-size: 140%;
	margin: 0 0 .3em;
	text-transform: uppercase;
	color: #BC1B39;
	font-weight: 400;
}

/* Experience items */
.item {
	padding: 0 0 1em;
}

.item:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.item header h3 {
	margin: 0 1em 0.2em 0;
	display: inline-block;
	font-weight: 600;
}

.item header a {
	display: inline-block;
}

.item .position,
.publication,
.title {
	font-weight: 600;
	font-size: 100%;
	margin: 0.2em 1em 0.2em 0;
}

.item .publisher,
.awarder {
	margin: 0.2em 1em 0.2em 0;
}

.item .startDate,
.item .endDate {
	color: #6B6B6B;
}

.item .highlights {
	list-style: square;
	font-size: 90%;
}

/* skills */
#skills .item {
	margin: 0.5em 0;
	padding: 0 0 0.5em;
	font-size: 90%;
}

#skills .item .name {
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 1em 0 0;
	width: 23%;
	vertical-align: top;
}

#skills .item .keywords {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

/* education */
#education .item {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
	border-bottom: 0;
}

/* meta */
#meta {
	margin: 1em 0 1em;
	border-bottom: 0;
	font-size: 80%;
	color: #404040;
}

@media print {
	body {
		margin: 5em 4em 5em 4em;
	}

	.page-break {
		margin-top: 5em;
		page-break-before: always;
	}

	a {
		color: #404040;
	}
}